@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
  background-image: url(../image/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-top{
  background-image: url(../image//cta-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


